#tablita{
    margin-top:20px;
}
th{
    color:white !important;
    text-align: center;
}
tbody{
  color:white !important;
  text-align: center;
}
body{
    background-color: rgb(28, 46, 21);
}
img{
    width:620px;
    height: 670px;
    margin-left:10px;   
}
h1{
    color:white;
    text-align: center;
}

form{
  color: white;
  text-align: center;
  margin-top: 100px !important;
  margin-bottom: 100px !important;
}
button{
  background-color: rgb(151, 14, 14) !important;
  width: 100%;
}

.formularios{
  display: flex;
  

}
